{
    "presets": [
        ["es2015", { "modules": false }],
        "stage-0"
    ],
    "plugins": [
        ["transform-react-jsx", {}],
        ["transform-decorators-legacy"],
        ["import", { "libraryName": "antd", "style": "css" }],
        ["react-hot-loader/babel"]
    ]
}
